<div>
  <header>
    <mat-toolbar color="primary">
    <mat-toolbar-row>
      <i class="fa fa-shopping-bag fa-2x textcolor"></i>
      <button mat-stroked-button class="matb" routerLink="Product" routerLinkActive="active">Fashion</button>
      <button mat-stroked-button class="matb" routerLink="Contactus" routerLinkActive="active">Contact Us</button>

      <a type="button" class="textcolor" href="https://github.ibm.com/biswanath/cumulusv3/tree/master/products">
        <i class="fa fa-github fa-2x"></i></a>
        
      <form class="example" style="margin:auto;max-width:300px">
        <input id ="search" type="text" placeholder="Speak" name="search">
        <button type="submit" ><i class="fa fa-microphone"></i></button>
      </form>
    
    </mat-toolbar-row>
  </mat-toolbar>
</header>
  <router-outlet></router-outlet>
<div id="footer">
  <div class = "bg-dark">
    <marquee behavior="alternate"><span class="marquee textcolor"> @Copyright Biswanath Pradeep Salini Muneer Arwind</span></marquee>
  </div>
</div>
</div>
